<!-- templates/accounts/login.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Login</h2>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'accounts:login' %}">
              {% csrf_token %}
              
              <div class="mb-3">
                {{ form.username.label_tag }}
                {% render_field form.username class="form-control" %}
                <div class="text-danger">{{ form.username.errors }}</div>
              </div>
              
              <div class="mb-3">
                {{ form.password.label_tag }}
                {% render_field form.password class="form-control" %}
                <div class="text-danger">{{ form.password.errors }}</div>
              </div>
              
              <div class="mb-3 form-check">
                {{ form.remember_me }}
                {{ form.remember_me.label_tag }}
              </div>
              
              <div class="text-danger">{{ form.non_field_errors }}</div>
              
              <button type="submit" class="btn btn-primary btn-block mb-3">Login</button>
              <!-- <a href="{% url 'accounts:signup' %}" class="btn btn-outline-secondary mb-3">Sign Up Instead</a> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    /* Custom CSS for form fields */
    .form-control {
      background-color: #f8f9fa; 
      
    }
  </style>
{% endblock %}
